#login-form{
    font-family: "notoBold";
    outline: none;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    padding: 30px 40px 20px 40px;
}
#logo{
    font-family: "notoExtraBold";
    padding-bottom: 20px;
    padding-top: 30px;
}
#title{
    font-family: "notoExtraBold";
    color: black;
    margin: 10px 10px 10px 10px;
    align-self: flex-start;
}
#submit-button{
    font-family: "notoExtraBold";
    margin-top: 30px;
    width: 420px;
}
#tooltip1{
    font-family: "notoExtraBold";
    font-size: 100%;
    z-index: 10001;
    color:#fff;
    background-color: #555;
    width: 100%;
    text-align: center;
    opacity: 1;
    padding: 5px 0;
    margin: 10px 0px -10px 0px;
    border-radius: 5px;
}