#login-form{
    font-family: "notoBold";
    outline: none;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    padding: 30px 40px 20px 40px;
}
#logo{
    font-family: "notoExtraBold";
    padding-bottom: 20px;
    padding-top: 30px;
}
#title{
    font-family: "notoExtraBold";
    color: black;
    margin: 10px 10px 10px 10px;
    align-self: flex-start;
}
#submit-button{
    font-family: "notoExtraBold";
    margin-top: 30px;
    width: 420px;
}